@model book_storage.Models.BookReview

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Оставить отзыв</h2>
<hr />
@using (Html.BeginForm()) {

    <fieldset>
        <div class="editor-field">
            @Html.HiddenFor(model => model.IdBook)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Review)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Review, new { maxlength = 5000 })
            @Html.ValidationMessageFor(model => model.Review)
        </div>
        <br/>
        <p>
            <input class="btn" id="createbtn" type="submit" value="Добавить" />
        </p>
    </fieldset>
    
<script src="~/Scripts/checkReview.js"></script>
}

<div>
    @Html.ActionLink("Возврат", "../Home/Index")
</div>
